# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# VS Code local history
.history/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Virtual environments
venv/
.env/

# Build artifacts
*.egg-info/
dist/
build/
